%% -*- mode: erlang -*-

{cover_enabled, true}.

{erl_opts, [debug_info, warn_unused_vars, warnings_as_errors]}.

{post_hooks, [{clean, "rm -f doc/*.css doc/*.html doc/*.png doc/edoc-info"},
              {clean, "rm -f rel/reltool.config"},
              {compile, "sed s/%VSN%/`hg id -i`/g rel/reltool.config.src > rel/reltool.config"}]}.

{require_otp_vsn, "R14"}.

{sub_dirs, ["rel"]}.
